extends ../layout

block content
  .auth-container
    h1 Login
    if error && error.length > 0
      .error-message= error
    if success_msg && success_msg.length > 0
      .success-message= success_msg
    form.auth-form(action="/login", method="POST")
      .form-group
        label(for="email") Email
        input#email(type="email", name="email", required)
      .form-group
        label(for="password") Password
        input#password(type="password", name="password", required)
      button.btn.btn-primary(type="submit") Login
      .auth-links
        a(href="/register") Don't have an account? Register