<!DOCTYPE html>
<html>
<head>
    <title>Article Details</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1><%= article.title %></h1>
    <div class="article-content">
        <p><%= article.content %></p>
    </div>
    <a href="/articles">Back to Articles List</a>
</body>
</html>