<!DOCTYPE html>
<html>
<head>
    <title>Articles List</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Articles List</h1>
    <div class="articles">
        <% articles.forEach(article => { %>
            <div class="article">
                <h2><%= article.title %></h2>
                <p><%= article.content %></p>
                <a href="/articles/<%= article.id %>">Read More</a>
            </div>
        <% }); %>
    </div>
</body>
</html>