doctype html
html
  head
    title User List
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Users List
    table
      thead
        tr
          th ID
          th Name
          th Email
          th Actions
      tbody
        each user in users
          tr
            td= user.id
            td= user.name
            td= user.email
            td
              a(href=`/users/${user.id}`) View Details